.Titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.Titre h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  color: #333;
}

.Titre p {
  font-size: 1.2rem;
  color: #666;
  max-width: 80%;
  line-height: 1.5;
}

.titre-image {
  width: 60px;
  height: auto;
}


.questionnaire-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120vh; 
  background-color: #ffffff; 
}

.questionnaire {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; 
}

.question {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.question p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.question label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  min-width: 400px; 
}

.question input[type="radio"] {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  flex-shrink: 0; 
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.resultat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh; 
  background-color: #f0f0f0; 
  text-align: center;
  padding: 40px 20px;
}

.resultat-container h1 {
  margin-top: 20px;
  font-size: 2rem; 
  color: #333; 
}

@keyframes blink {
  0% { 
    background-color: #ff0000;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
  }
  50% { 
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(255, 0, 0, 1);
  }
  100% { 
    background-color: #ff0000;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
  }
}

.button-danger {
  background-color: #ff0000;
  color: white;
  padding: 25px 50px;  
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 28px;  
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  animation: blink 0.6s infinite;  
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
  letter-spacing: 2px; 
}

.button-danger:hover {
  background-color: #ff0000;
  transform: scale(1.1);  
  transition: transform 0.3s ease;
}
.button-succes {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px; 
}
.button-succes:hover {
  background-color: #45a049; 
}